VITE_SUPABASE_URL=https://txrktvlfrbtuerabpqpe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4cmt0dmxmcmJ0dWVyYWJwcXBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NTI2MDMsImV4cCI6MjA4ODUyODYwM30.skM7fnSfWFBj0JOPxDGk_YwDmUDg-2CjNKhHruQtoo8
